.DS_Store
.editorconfig
.generated
.git
.github
.gitignore
.husky/_
.idea/_
.npmrc
.nvmrc
.out
.prettierignore
.eslintrc.js
.eslintrc.json
jsconfig.js
package-lock.json
README.md
build
dist
lib
node_modules
out
package.json
tsconfig.json
tsconfig.node.json
tools
